
<% if @objective.status == "in_creation" %>
  <div id="messages">
    <% @chat.messages.each do |message| %>
      <% if message.role == "user" %>
        <div class="d-flex justify-content-end mb-2">
          <div class="bg-white px-3 pb-0 pt-3 rounded-pill">
            <%= simple_format(message.content) %>
          </div>
        </div>
      <% elsif message.role == "assistant" %>
        <div class="d-flex justify-content-start mb-5">
          <div class="px-3 pb-0 pt-3">
              <%= raw(render_markdown(message.content)) %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% has_assistant_reply = @chat.messages.where(role: "assistant").any? %>
  <div id="new_message_container" name="latest">
    <%= simple_form_for [@chat, @message] do |f| %>
      <% if has_assistant_reply %>
        <%= f.input :content, label: "Do you want to precise something or modify the suggested steps?", required: true, placeholder: "Could you ..." %>
      <% else %>
        <%= f.input :content, label: "What is your goal mon cher #{current_user.first_name}?", required: true, placeholder: "I would like to learn to code..." %>
      <% end %>
      <%= f.button :submit, 'Ask SnailR', class: 'btn btn-primary' %>
    <% end %>
  </div>

  <% if @chat.messages.where(role: "assistant").any? %>
    <div class="text-center mt-4">
      <%= button_to "Confirm the objective and steps", confirm_objective_path(@objective), method: :patch, class: "btn btn-success btn-lg" %>
    </div>
  <% end %>
<% else %>
  <%= render "in_progress" %>
<% end %>
